{{ form_start(form) }}

    {{ form_row(form.Niveau, {
        'label': 'Niveau',
        'attr': {'placeholder': 'Saisir le niveau de l\'institution'}
    }) }}

    {{ form_row(form.libelleInstitution, {
        'label': 'Libellé',
        'attr': {'placeholder': 'Saisir le libellé'}
    }) }}
    
    {{ form_row(form.telephoneInstitution, {
        'label': 'Téléphone',
        'attr': {'placeholder': 'ex: +229 98 00 00 00'}
    }) }}

    <div class="d-flex justify-content-end">
        {{ form_widget(form.save, {'label': (mode == 'add' ? 'Ajouter' : 'Modifier')}) }}

    </div>


{{ form_end(form) }}