{% extends 'base.html.twig' %}

{% block title %}Institution{% endblock %}

{% block body %}
    <h1>Institution</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ institution.id }}</td>
            </tr>
            <tr>
                <th>LibelleInstitution</th>
                <td>{{ institution.libelleInstitution }}</td>
            </tr>
            <tr>
                <th>TelephoneInstitution</th>
                <td>{{ institution.telephoneInstitution }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('institution.index') }}">back to list</a>

    <a href="{{ path('institution.edit', {'id': institution.id}) }}">edit</a>

    {{ include('institution/_delete_form.html.twig') }}
{% endblock %}
