{% extends 'base.html.twig' %}

{% block title %}Changer le mot de passe{% endblock %}

{% block body %}
    <div class="layout-topbar">
        <a class="layout-topbar-logo" >
            <img src="{{ asset('img/Logos/LOGO_1.png') }}" alt="Logo Ministère de la Santé" class="img-fluid" style="max-height: 50px;">
        </a>
    </div>


    <div class="login_space">

    <div class="row h-100 d-flex flex-column align-items-center justify-content-center">
        <div class="alert alert-info" style="width: 431.750px" role="alert">
            <h4 class="alert-heading">Instruction</h4>
            <p>Votre mot de passe doit faire au moins 8 caractères.
                Nous devons avoir au moins une lettre majustcule, au moins une lettre minsucule, au moins un chiffre,
                au moins un caractère spécial.
            </p>

        </div>
            <div class="formulaire">
                {{ form_start(changePasswordForm) }}
                {{ form_row(changePasswordForm.newPassword.first) }}
                {{ form_row(changePasswordForm.newPassword.second) }}
                {{ form_end(changePasswordForm) }}
            </div>
        </div>
    </div>
{% endblock %}