{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="layout-topbar">
        <a class="layout-topbar-logo" >
            <img src="{{ asset('img/Logos/LOGO_1.png') }}" alt="Logo Ministère de la Santé" class="img-fluid" style="max-height: 50px;">
        </a>

    </div>
    <div class="login_space">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div>
                        <h3 class="text-center">Veuilez vous connecter</h3>
                    </div>

                    <div class="card-body">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3 text-center">
                                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                            </div>
                        {% endif %}

                        <form method="post" id="loginForm">
                            <div class="form-group">
                                <label for="username">Nom d'utilisateur</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <input type="text" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="username" required autofocus>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password">Mot de passe</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                                    </div>
                                    <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                                </div>
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <div class="text-center">
                                <button class="btn btn-lg btn-primary btn-block" type="submit">
                                    Se connecter
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <p class="text-muted">Ministère de la Santé du Bénin</p>
                </div>
            </div>
        </div>
    </div>

    {# Include jQuery and Bootstrap JS #}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    {# Add custom script for form validation #}
    <script>
        $(document).ready(function() {
            $('#loginForm').on('submit', function(event) {
                var isValid = true;

                if ($('#username').val().trim() === '') {
                    isValid = false;
                    alert('Veuillez entrer votre nom d\'utilisateur.');
                }

                if ($('#password').val().trim() === '') {
                    isValid = false;
                    alert('Veuillez entrer votre mot de passe.');
                }

                return isValid;
            });
        });
    </script>
{% endblock %}
