{{ form_start(registrationForm) }}
<div class="form-group row mb-3">
    <div class="col-sm-4">{{ form_row(registrationForm.matricule) }}</div>
    <div class="col-sm-4">{{ form_row(registrationForm.lastName) }}</div>
    <div class="col-sm-4">{{ form_row(registrationForm.firstName) }}</div>
</div>

<div class="form-group row mb-3">
    <div class="col-sm-6">{{ form_row(registrationForm.Institution) }}</div>
    <div class="col-sm-6">{{ form_row(registrationForm.Structure) }}</div>
</div>

<div class="form-group row mb-3">
    <div class="col-sm-4">{{ form_row(registrationForm.username) }}</div>
    <div class="col-sm-4">{{ form_row(registrationForm.email) }}</div>
    <div class="col-sm-4">{{ form_row(registrationForm.telephone) }}</div>
</div>
<div class="form-group row mb-3">
    <div class="col-sm-6">{{ form_row(registrationForm.password.first, {'required': (mode == 'add')}) }}</div>
    <div class="col-sm-6">{{ form_row(registrationForm.password.second, {'required': (mode == 'add')}) }}</div>
</div>

<div class="form-group row mb-3">
    <div class="col-sm-6"> {{ form_row(registrationForm.statutCompte) }}</div>
    <div class="col-sm-6">{{ form_row(registrationForm.roles) }}</div>
</div>













    
    <div class="d-flex justify-content-end">
        {{ form_widget(registrationForm.save, {'label': (mode == 'add' ? 'Ajouter' : 'Modifier')}) }}
    </div>
{{ form_end(registrationForm) }}

