<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Afficher liste des véhicules et chauffeurs d'une mission</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
        <style>
        @media print {

            .print-footer {
                display: none;
            }
            .btn-print {
                display: none;
            }
            footer{
                position: absolute;
                bottom: 0;
            }
        }

        body {
            font-family: 'Montserrat', sans-serif;
            margin: 20px;
            padding: 0;
        }


    </style>
</head>
<body>
<header class="container mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <img class="img-fluid" src="{{ asset('img/entete.jpg') }}" alt="Logo">
        <div class="action-buttons no-print">
            <button class="btn btn-print btn-primary" onclick="window.print()">
                <i class="fa fa-print"></i>
            </button>
{#            <a href="{{ path('demande_pdf', {'id': demande.id}) }}" class="btn btn-secondary">#}
{#                <i class="fa fa-download"></i> Télécharger PDF#}
{#            </a>#}
        </div>
    </div>
    <hr>
</header>
<main class="container">
    <strong class="d-block"  style="margin-bottom: 50px;">COTONOU, le {{ "now" | date("d/m/Y") }}</strong>

    <div class="text-center" style="font-weight: bold ;" >Direction de la Planification de l'Administration et des Finances (DPAF)</div>
    <div class="text-center mt-4">LA DPAF AUTORISE LES AFFECTATIONS SUIVANTES À LA DEMANDE N° {{ demande.numDemande }}</div>

    <table class="table table-bordered mt-4" >
        <tr>
            <th colspan="2" class="text-center" style="background-color: #f2f2f2; border-top: none; border-left: none; border-right: none;">Informations de la mission</th>
        </tr>
        <tr>
            <td><h6>Bénéficiaire :</h6></td>
            <td>{{ demande.structure.libelleStructure }}</td>
        </tr>
        <tr>
            <td>Point focal : </td>
            <td>{{ demande.demander.lastName }} {{ demande.demander.firstName }}</td>
        </tr>
        <tr>
            <td>Responsable structure :</td>
            <td>{{ demande.structure.responsableStructure.lastName }} {{ demande.structure.responsableStructure.firstName }}</td>
        </tr>
        <tr>
            <td>Chef parc :</td>
            <td>{{ demande.structure.parc.chefParc.lastName }} {{ demande.structure.parc.chefParc.firstName }}</td>
        </tr>
        <tr>
            <td>Référence document d'autorisation : </td>
            <td>{{ demande.referenceNoteDeService }} du {{ demande.dateSignatureNoteDeService | date('d/m/Y') }}</td>
        </tr>
        <tr>
            <td><h6>Objet :</h6></td>
            <td>{{ demande.objetMission }}</td>
        </tr>
        <tr>
            <td>Lieu :</td>
            <td>
                {% for value in demande.lieuMission %}
                    {{ value | upper }}
                    {% if not loop.last %}
                        * *
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Date début : </td>
            <td>{{ demande.dateDebutMission | date('d/m/Y') }}</td>
        </tr>
        <tr>
            <td>Date fin : </td>
            <td>{{ demande.dateFinMission | date('d/m/Y') }}</td>
        </tr>
    </table>

    <table class="table table-bordered mt-4">
        <thead>
        <tr>
            <th colspan="4" class="text-center" style="border-top: none; border-left: none; border-right: none;">
                Détails sur les véhicules et chauffeurs affectés
            </th>
        </tr>
        <tr style="background-color: #f2f2f2;">
            <th>Matricule</th>
            <th>Nombre de km restant à parcourir</th>
            <th>Portée</th>
            <th>Chauffeur</th>
        </tr>
        </thead>
        <tbody>
        {% for affectation in affectations %}
            {% set vehicule = affectation.vehicule %}
            {% set chauffeur = affectation.chauffeur %}
            {% set nbrekmrestant = vehicule.nbreKmPourRenouvellerVidange - (vehicule.kilometrageCourant - vehicule.kilometrageInitial) %}
            <tr>
                <td>{{ vehicule.matricule }}</td>
                <td>{{ nbrekmrestant }}</td>
                <td>{{ vehicule.porteeVehicule }}</td>
                <td>{{ chauffeur.nomChauffeur }} {{ chauffeur.prenomChauffeur }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</main>

<footer>
    PARC AUTO : <span class="footer-content"> {{ demande.numDemande }} du {{ demande.dateDemande | date('d/m/Y') }}</span>
</footer>
</body>
</html>
