{% extends 'base.html.twig' %}

{% block title %}Demande index{% endblock %}

{% block body %}
    <h1>Demande index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NumDemande</th>
                <th>DateDemande</th>
                <th>ObjetMission</th>
                <th>DateDebutMission</th>
                <th>DateFinMission</th>
                <th>NbreParticipants</th>
                <th>NbreVehicules</th>
                <th>DeleteAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demande in demandes %}
            <tr>
                <td>{{ demande.id }}</td>
                <td>{{ demande.numDemande }}</td>
                <td>{{ demande.dateDemande ? demande.dateDemande|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ demande.objetMission }}</td>
                <td>{{ demande.dateDebutMission ? demande.dateDebutMission|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ demande.dateFinMission ? demande.dateFinMission|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ demande.nbreParticipants }}</td>
                <td>{{ demande.nbreVehicules }}</td>
                <td>{{ demande.deleteAt ? demande.deleteAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_demande_show', {'id': demande.id}) }}">show</a>
                    <a href="{{ path('app_demande_edit', {'id': demande.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_demande_new') }}">Create new</a>
{% endblock %}
