{% extends 'base.html.twig' %}
{# {% block body %}{% endblock %} #}
{% block mycontent %}
<div class="col-12 card-body tablestyle">
    <div class="card" style="min-height: 475px;">
        <h5>Liste des demandes</h5>
        {% if is_granted('ROLE_POINT_FOCAL') %}
        <div class="p-toolbar p-component mb-4" role="toolbar">
            <div class="p-toolbar-group-left">
                <div class="my-2">
                    <a href="{{ path('demande.create') }}">
                        <button class="p-button p-component p-button-success mr-2">
                            <span class="p-button-icon p-c p-button-icon-left fa fa-plus"></span>
                            <span class="p-button-label p-c">Nouveau</span>
                            <span class="p-ink"></span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="table-responsive">
            <table class="table table-bordered table-striped " id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>Référence</th>
                        <th>Date début</th>
                        <th>Date fin</th>
                        <th>Lieu</th>
                        <th>Statut</th>
                        {% if is_granted('ROLE_POINT_FOCAL') %}
                            <th>actions</th>
                        {% else %}
                            <th>action</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for demande in demandes %}
                    <tr>
                        <td>{{ demande.id }}</td>                       
                        <td>{{ demande.dateDebutMission|date("m/d/Y") }}</td>
                        <td>{{ demande.dateFinMission|date("m/d/Y") }}</td>
                        <td>
                            {% for key, value in demande.lieuMission %}
                                <span>{{ value }}</span>
                            {% endfor %}
                        </td>
                        <td>
                            <span class="
                                {% if demande.statut == 'Initial' %}
                                    initial
                                {% elseif demande.statut == 'Approuvé' %}
                                    approved
                                {% elseif demande.statut == 'Validé' %}
                                    validated
                                {% elseif demande.statut == 'Rejeté' and demande.traitePar is not null %}
                                    rejected-special
                                {% else %}
                                    rejected
                                {% endif %}
                                ">
                                {{ demande.statut }}
                            </span>
                        </td>
                        <td>
                         <div class="d-flex justify-content-end">
                            {% if is_granted('ROLE_POINT_FOCAL') and not is_granted('ROLE_ADMIN') %}
                            <div class="button-group open">
                                <button class="btn btn-xs btn-default dropdown-toggle" title="Cliquez ici pour effectuer une action" type="button" data-toggle="dropdown" data-toggle-position="left" aria-expanded="true">
                                    <i class="fa fa-ellipsis-h" style="color: #777;"></i>
                                </button>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li style="padding-left: 10px;">
                                        <a href="{{ path('demande.show', {'id': demande.id}) }}">
                                            <button class="btn btn-sm btn-circle rounded-circle mr-2" style="color: white; background-color: #22C552; width: 30px; height: 30px;">
                                                <i class="fa fa-search"></i>                                                
                                            </button>
                                            <span style="color: #777;">&nbsp; Voir détails</span>
                                        </a> 
                                    </li>
                                    <li style="padding-left: 10px;">
                                        <a href="{{ path('demande.edit', {'id': demande.id}) }}">
                                            <button class="btn btn-sm btn-circle rounded-circle mr-2" style="color: white; background-color: #f59e0B; width: 30px; height: 30px;">
                                                <i class="fa fa-pen"></i>
                                            </button>
                                            <span style="color: #777;">&nbsp; Modifier</span>
                                        </a>    
                                    </li>
                                    <li style="padding-left: 10px;">
                                        <a href="#" onclick="showDeletionModal(this);" data-id="{{ demande.id }}" data-token="{{ csrf_token('delete' ~ demande.id) }}" style="text-decoration: none;">
                                            <button type="button" class="btn btn-sm btn-circle rounded-circle mr-2" style="color: white; background-color: hsl(0, 92%, 50%);">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                            <span style="color: #777;">&nbsp; supprimer</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        

                            {% else %}
                                <a href="{{ path('demande.show', {'id': demande.id}) }}" class="btn btn-info btn-sm">
                                    Voir détails
                                </a>
                            {% endif %}






                            















                                
                        </div>                            
                            
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="10">Aucun enregistrement trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>




<!-- Modal de confirmation -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Êtes-vous sûr de vouloir supprimer cette demande ?
                <form id="modalDeleteForm" method="post">
                    <input type="hidden" name="_token" id="modal_token" value="">
                    <input type="hidden" name="demande_id" id="modal_demande_id" value="">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                <button type="button" class="btn btn-primary" id="confirmButton">Oui</button>
            </div>
        </div>
    </div>
</div>



<script>
    function showDeletionModal(button) {
        var demandeId = button.getAttribute('data-id');
        var csrfToken = button.getAttribute('data-token');

        // Mettre à jour les champs cachés du formulaire dans le modal
        document.getElementById('modal_token').value = csrfToken;
        document.getElementById('modal_demande_id').value = demandeId;

        // Mettre à jour l'action du formulaire avec l'ID du niveau
        document.getElementById('modalDeleteForm').action = '{{ path("demande.delete", {"id": "__ID__"}) }}'.replace('__ID__', demandeId);

        // Afficher le modal de confirmation
        $('#confirmModal').modal('show');
    }

    document.addEventListener('DOMContentLoaded', function () {
        var confirmButton = document.getElementById('confirmButton');

        confirmButton.addEventListener('click', function () {
            // Soumettre le formulaire de suppression dans le modal
            document.getElementById('modalDeleteForm').submit();
        });
    });
</script>



{% endblock %}
