{% extends 'base.html.twig' %}
{# {% block body %}{% endblock %} #}
{% block mycontent %}
    <div class="col-12 card-body tablestyle">
        <div class="card" style="min-height: 475px;">
            <h5>Liste des demandes</h5>
            {% if is_granted('ROLE_POINT_FOCAL') %}
                <div class="p-toolbar p-component mb-4" role="toolbar">
                    <div class="p-toolbar-group-left">
                        <div class="my-2">
                            <a href="{{ path('demande.create') }}">
                                <button class="p-button p-component p-button-success mr-2">
                                    <span class="p-button-icon p-c p-button-icon-left fa fa-plus"></span>
                                    <span class="p-button-label p-c">Nouveau</span>
                                    <span class="p-ink"></span>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="table-responsive">
                <table class="table table-bordered table-striped" id="dataTable" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Numéro demande</th>
                        <th>Date de demande</th>
                        <th>Date début</th>
                        <th>Date fin</th>
                        <th>Lieu</th>
                        <th>Statut</th>
                        {% if is_granted('ROLE_POINT_FOCAL') %}
                            <th>actions</th>
                        {% else %}
                            <th>action</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% if (demandes is empty) %}
                        <tr>
                            <td colspan="7">Aucun enregistrement trouvé</td>
                        </tr>
                    {% else %}
                        {% for demande in demandes %}
                            <tr>
                                <td>{{ demande.numDemande }}</td>
                                <td>{{ demande.dateDemande|date("d/m/Y") }}</td>
                                <td>{{ demande.dateDebutMission|date("d/m/Y") }}</td>
                                <td>{{ demande.dateFinMission|date("d/m/Y") }}</td>
                                <td>
                                    <ul class="list-unstyled m-0">
                                        {% for value in demande.lieuMission %}
                                            <li>{{ value|upper }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    <span class="
                                        {% if demande.statut == 'Initial' %}
                                            initial
                                        {% elseif demande.statut == 'Approuvé' %}
                                            approved
                                        {% elseif demande.statut == 'Validé' %}
                                            validated
                                        {% elseif demande.statut == 'Traité' %}
                                            processed
                                        {% elseif demande.statut == 'Rejeté' and demande.traiterPar is not null %}
                                            rejected-special
                                        {% else %}
                                            rejected
                                        {% endif %}
                                    ">
                                        {{ demande.statut }}
                                    </span>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-end">
                                        {% if is_granted('ROLE_POINT_FOCAL') and not is_granted('ROLE_ADMIN') %}
                                            <div class="button-group open">
                                                <button class="btn btn-xs btn-default dropdown-toggle" title="Cliquez ici pour effectuer une action" type="button" data-toggle="dropdown" data-toggle-position="left" aria-expanded="true">
                                                    <i class="fa fa-ellipsis-h" style="color: #777;"></i>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li style="padding-left: 10px;">
                                                        <a href="{{ path('demande.show', {'id': demande.id}) }}">
                                                            <button class="btn btn-sm btn-circle rounded-circle mr-2" style="color: white; background-color: #22C552; width: 30px; height: 30px;">
                                                                <i class="fa fa-search"></i>
                                                            </button>
                                                            <span style="color: #777;">&nbsp; Voir détails</span>
                                                        </a>
                                                    </li>
                                                    <li style="padding-left: 10px;">
                                                        <a href="{{ path('demande.edit', {'id': demande.id}) }}">
                                                            <button class="btn btn-sm btn-circle rounded-circle mr-2" style="color: white; background-color: #f59e0B; width: 30px; height: 30px;">
                                                                <i class="fa fa-pen"></i>
                                                            </button>
                                                            <span style="color: #777;">&nbsp; Modifier</span>
                                                        </a>
                                                    </li>
                                                    <li style="padding-left: 10px;">
                                                        <!-- Lien pour ouvrir le modal -->
                                                        <a href="#" class="open-cancel-modal" data-id="{{ demande.id }}" data-bs-toggle="modal" data-bs-target="#cancelModal">
                                                            <button class="btn btn-sm btn-circle rounded-circle mr-2" style="color: white; background-color: #220bf5; width: 30px; height: 30px;">
                                                                <i class="fa fa-times"></i>
                                                            </button>
                                                            <span style="color: #777;">&nbsp; Annuler</span>
                                                        </a>
                                                    </li>
                                                    {% if demande.statut == 'Validé' %}
                                                        <li style="padding-left: 10px;">
                                                            <a href="{{ path('demande.etat', {'id': demande.id}) }}">
                                                                <button class="btn btn-sm btn-circle rounded-circle mr-2" style="color: white; background-color: #228cc5; width: 30px; height: 30px;">
                                                                    <i class="fa fa-print"></i>
                                                                </button>
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                </ul>
                                                
                                            </div>
                                        {% else %}
                                            <a href="{{ path('demande.show', {'id': demande.id}) }}">
                                                <button class="btn btn-sm btn-circle rounded-circle mr-2" style="color: white; background-color: #22C552; width: 30px; height: 30px;">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </a>

                                            {% if demande.statut == 'Validé'%}
                                                <a href="{{ path('demande.etat', {'id': demande.id}) }}">
                                                    <button class="btn btn-sm btn-circle rounded-circle mr-2" style="color: white; background-color: #228cc5; width: 30px; height: 30px;">
                                                        <i class="fa fa-print"></i>
                                                    </button>
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>



        <!-- Modal pour la saisie de la raison d'annulation -->
        <div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="cancelModalLabel">Raison de l'annulation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="cancelForm" method="POST" action="">
                            <div class="mb-3">
                                <label for="cancelReason" class="form-label">Raison :</label>
                                <textarea class="form-control" id="cancelReason" name="reason" rows="3" required></textarea>
                            </div>
                            <input type="hidden" name="demande_id" id="demandeId">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary" form="cancelForm">Confirmer l'annulation</button>
                    </div>
                </div>
            </div>
        </div>


        <script>
            const cancelButtons = document.querySelectorAll('[data-bs-target="#cancelModal"]');
        
            cancelButtons.forEach(button => {
                button.addEventListener('click', function() {
                    const demandeId = this.getAttribute('data-id');
                    document.getElementById('demandeId').value = demandeId;
                    // Mettez à jour l'action du formulaire pour inclure l'ID de la demande
                    document.getElementById('cancelForm').action = "{{ path('demande.cancel', {'id': '__id__'}) }}".replace('__id__', demandeId);
                });
            });
        </script>
        


{% endblock %}
