{% extends 'base.html.twig' %}

{% block title %}Demande{% endblock %}

{% block body %}
    <h1>Demande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ demande.id }}</td>
            </tr>
            <tr>
                <th>NumDemande</th>
                <td>{{ demande.numDemande }}</td>
            </tr>
            <tr>
                <th>DateDemande</th>
                <td>{{ demande.dateDemande ? demande.dateDemande|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ObjetMission</th>
                <td>{{ demande.objetMission }}</td>
            </tr>
            <tr>
                <th>DateDebutMission</th>
                <td>{{ demande.dateDebutMission ? demande.dateDebutMission|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateFinMission</th>
                <td>{{ demande.dateFinMission ? demande.dateFinMission|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>NbreParticipants</th>
                <td>{{ demande.nbreParticipants }}</td>
            </tr>
            <tr>
                <th>NbreVehicules</th>
                <td>{{ demande.nbreVehicules }}</td>
            </tr>
            <tr>
                <th>DeleteAt</th>
                <td>{{ demande.deleteAt ? demande.deleteAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            
        </tbody>
    </table>

    <a href="{{ path('app_demande_index') }}">back to list</a>

    <a href="{{ path('app_demande_edit', {'id': demande.id}) }}">edit</a>

    {{ include('demande/_delete_form.html.twig') }}
{% endblock %}
