{{ form_start(form) }}

<div style="position: relative;">

    {{ form_row(form.Institution, {
        'label': 'Institution',
        'label_attr': {'class': 'required'},
        'attr': {'placeholder': 'Choisir l\'institution'}
    }) }}

    {{ form_row(form.matriculeChauffeur, {
        'label': 'Matricule',
        'label_attr': {'class': 'required'},
        'attr': {'placeholder': 'Saisir le numéro matricule du chauffeur'}
    }) }}

    {{ form_row(form.numPermis, {
        'label': 'Numéro permis',
        'label_attr': {'class': 'required'},
        'attr': {'placeholder': 'Saisir le numéro du permis du chauffeur'}
    }) }}
    
    {{ form_row(form.nomChauffeur, {
        'label': 'Nom chauffeur',
        'label_attr': {'class': 'required'},
        'attr': {'placeholder': 'Saisir le nom du chauffeur'}
    }) }}

    {{ form_row(form.prenomChauffeur, {
        'label': 'Prénom chauffeur',
        'label_attr': {'class': 'required'},
        'attr': {'placeholder': 'Saisir le prénom du chauffeur'}
    }) }}

    {{ form_row(form.telephoneChauffeur, {
        'label': 'Téléphone',
        'attr': {'placeholder': 'ex: +229 98 00 00 00'}
    }) }}

    <div style="position: absolute; bottom: 0; right: 0; top: 400px;">
        {{ form_widget(form.save, {'label': (mode == 'add' ? 'Ajouter' : 'Modifier')}) }}
        {{ form_widget(form.cancel, {'attr': {'class': 'btn btn-primary', 'onclick': 'resetFormFields()'}}) }}
    </div>
</div>

{{ form_end(form) }}

