{% extends 'base.html.twig' %}

{% block title %}Chauffeur{% endblock %}

{% block mycontent %}

    <div class="col-12">
        <div class="card">
            <div class="p-toolbar-group-left">
                <div class="my-2">
                    <a href="{{ path('chauffeur.index') }}">
                        <button class="p-button p-component p-button-outlined mr-2">
                            <span class="p-button-icon p-c p-button-icon-left fa fa-arrow-left"></span>
                            <span class="p-button-label p-c">Retour à la liste</span>
                            <span class="p-ink"></span>
                        </button>
                    </a>
                </div>
            </div>
            <div class="row d-flex">
                <div class="col-12">
                    <div class="card  mb-3" style="box-shadow: none !important;">
                        <div class="row no-gutters">
                            <div class="col-md-3">
                                {% if chauffeur.photoChauffeur is not empty %}
                                    <tr>
                                        <td>
                                            <img class="img-fluid" src="{{ asset('img/Chauffeurs/' ~ chauffeur.photoChauffeur) }}" style="width: 100%; height: 100%; object-fit: cover;">
                                        </td>

                                    </tr>
                                {% endif %}
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <h5 class="card-title h1">{{ chauffeur.nomChauffeur }} {{ chauffeur.prenomChauffeur }} <span class="h6 fw-bold"> {{ chauffeur.etatChauffeur }}</span></h5>
                                    <ul class="card-text list-unstyled " style="font-size: 1.2rem">
                                        <li>Institution : {{ chauffeur.Institution.libelleInstitution }}</li>
                                        <li>Matricule : {{ chauffeur.matriculeChauffeur }}</li>
                                        <li>Numéro de télphone : {{ chauffeur.telephoneChauffeur }}</li>

                                    </ul>

                                    <p class="card-text d-flex fw-bold"> <a href="{{ path('chauffeur.edit', {'id': chauffeur.id}) }}" class="d-inline-block edited_profil" style="text-decoration: none; cursor: pointer;" >Modifier le profil du chauffeur</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <h1>Historique des missions</h1>
            <table class="table">
                <thead>
                <th class="col-2">Date de début</th>
                <th class="col-2">Date de retour</th>
                <th class="col-5">Objet</th>
                <th class="col-5">Véhicule utilisé</th>

                </thead>
                <tbody>
                <tr>
                    <td colspan="8">Aucun enregistrement trouvé</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
