{% extends 'base.html.twig' %}

{% block title %}Chauffeur{% endblock %}

{% block body %}
    <h1>Chauffeur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chauffeur.id }}</td>
            </tr>
            <tr>
                <th>NomChauffeur</th>
                <td>{{ chauffeur.nomChauffeur }}</td>
            </tr>
            <tr>
                <th>PrenomChauffeur</th>
                <td>{{ chauffeur.prenomChauffeur }}</td>
            </tr>
            <tr>
                <th>TelephoneChauffeur</th>
                <td>{{ chauffeur.telephoneChauffeur }}</td>
            </tr>
            <tr>
                <th>NumPermis</th>
                <td>{{ chauffeur.numPermis }}</td>
            </tr>
            <tr>
                <th>EtatChauffeur</th>
                <td>{{ chauffeur.etatChauffeur }}</td>
            </tr>
            <tr>
                <th>DeleteAt</th>
                <td>{{ chauffeur.deleteAt ? chauffeur.deleteAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_chauffeur_index') }}">back to list</a>

    <a href="{{ path('app_chauffeur_edit', {'id': chauffeur.id}) }}">edit</a>

    {{ include('chauffeur/_delete_form.html.twig') }}
{% endblock %}
