{% extends 'base.html.twig' %}

{% block title %}Assurance index{% endblock %}

{% block body %}
    <h1>Assurance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateDebutAssurance</th>
                <th>DateFinAssurance</th>
                <th>PieceAssurance</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for assurance in assurances %}
            <tr>
                <td>{{ assurance.id }}</td>
                <td>{{ assurance.dateDebutAssurance ? assurance.dateDebutAssurance|date('Y-m-d') : '' }}</td>
                <td>{{ assurance.dateFinAssurance ? assurance.dateFinAssurance|date('Y-m-d') : '' }}</td>
                <td>{{ assurance.pieceAssurance }}</td>
                <td>
                    <a href="{{ path('app_assurance_show', {'id': assurance.id}) }}">show</a>
                    <a href="{{ path('app_assurance_edit', {'id': assurance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_assurance_new') }}">Create new</a>
{% endblock %}
