{% extends 'base.html.twig' %}

{% block title %}Assurance{% endblock %}

{% block body %}
    <h1>Assurance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ assurance.id }}</td>
            </tr>
            <tr>
                <th>DateDebutAssurance</th>
                <td>{{ assurance.dateDebutAssurance ? assurance.dateDebutAssurance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateFinAssurance</th>
                <td>{{ assurance.dateFinAssurance ? assurance.dateFinAssurance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>PieceAssurance</th>
                <td>{{ assurance.pieceAssurance }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_assurance_index') }}">back to list</a>

    <a href="{{ path('app_assurance_edit', {'id': assurance.id}) }}">edit</a>

    {{ include('assurance/_delete_form.html.twig') }}
{% endblock %}
