<!DOCTYPE html>
<html lang="fr" style="font-size: 14px; overflow-x: hidden;">
    <head>
        <meta charset="utf-8">
        <title>GESTION DU PARC AUTOMOBILE DU MINISTERE DE LA SANTE</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
        <meta name="apple-mobile-web-app-capable" content="yes">

        {% block stylesheets %}
            <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}">            
            <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
            <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
            <link href="{{ asset('vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
            <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
            <link href="{{ asset('css/theme.css') }}" rel="stylesheet">    
            <link href="{{ asset('css/mystyle.scss') }}" rel="stylesheet">    
            <link href="{{ asset('css/2.3e0fb6e6.chunk.css') }}" rel="stylesheet">
            <link href="{{ asset('css/main.985fc7ff.chunk.css') }}" rel="stylesheet">
            <link href="{{ asset('vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">


        {% endblock %}
    </head>


    <body>
        {% block body %}
            <div id="root">
                <div class="p-toast p-component p-toast-top-right">

                </div>
                <div class="layout-wrapper layout-static layout-theme-light">

                    <div class="layout-topbar">
                        <a class="layout-topbar-logo" href="#">
                            <img src="{{ asset('img/Logos/LOGO_1.png') }}" alt="Logo Ministère de la Santé" class="img-fluid" style="max-height: 50px;">
                        </a>
                        
                        <button type="button" class="p-link d-lg-none  layout-menu-button layout-topbar-button">
                            <i class="fa fa-bars" id="toggleSidebar" onclick="toggleResponsiveSidebar()"></i>
                        </button>






                        {% for type, messages in app.session.flashbag.all %}
                            {% for message in messages %}
                                <div class="flash-message flash-{{ type }}">
                                    <span class="flash-close">&times;</span>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}



                        <ul class="layout-topbar-menu lg:flex origin-top ">
                            {% if get_user() %}
                            <li class="mr-5 d-flex align-items-center text-white" style="font-size: 1.2rem">
                                   Bienvenue,  {{ get_user().lastName}} {{ get_user().firstName }}
                            </li>
                                {% else %}
                                    <li>
                                        <p>Vous n'êtes pas connecté.</p>
                                    </li>

                                {% endif %}

                            <li class="d-flex align-items-center">
                            <a href="{{ path('app_logout') }}">
                                <button class="p-button p-component p-button-rounded p-button-danger mr-2 p-button-icon-only">
                                    <span class="p-button-icon p-c fa fa-power-off"></span>
                                    <span class="p-button-label p-c">&nbsp;</span>
                                    <span class="p-ink"></span>
                                </button>
                            </a>

                            </li>
                        </ul>
                    </div>
{#                    {% for type, messages in app.session.flashbag.all %}#}
{#                        {% for message in messages %}#}
{#                            <div class="alert alert-{{ type }} d-flex align-items-center" style="position: absolute; bottom: 0; z-index: 1000" role="alert">#}
{#                                <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>#}
{#                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>#}
{#                                <div>#}
{#                                    {{ message }}#}
{#                                </div>#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    {% endfor %}#}
                    <div class="layout-sidebar">
                        {% set current_route = app.request.attributes.get('_route') %}
                        <div class="layout-menu-container">
                            <ul class="layout-menu" role="menu">
                                <li class="layout-menuitem-category" role="none">
                                    <div class="layout-menuitem-root-text" aria-label="Accueil">Accueil</div>
                                    <ul role="menu">
                                        <li   role="none">
                                            <a aria-current="page" class="p-ripple {{ current_route == 'main.index' ? 'router-link-active router-link-exact-active' : '' }} d-flex align-items-center" aria-label="Tableau de bord" role="menuitem" href="{{ path('main.index') }}">
                                                <img src="{{ asset('img/icons/maison.svg') }}" alt="home" style="width: 1.2em;">
                                                <span>Tableau de bord</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            {% if is_granted('ROLE_VALIDATEUR') or is_granted('ROLE_CABINET') %}
                                <li class="layout-menuitem-category" role="none">
                                    <div class="layout-menuitem-root-text" aria-label="Gestion des matériels roulants">Gestion des matériels roulants</div>
                                    <ul role="menu">
                                        <li role="none">
                                            <a class="p-ripple {{ current_route starts with 'TypeVehicule' ? 'router-link-active router-link-exact-active' : '' }}" aria-label="Type matériel roulant" role="menuitem" href="{{ path('TypeVehicule.index') }}">
                                                <img src="{{ asset('img/icons/voiture-cle.svg') }}" alt="home" style="width: 1.2em;">
                                                <span>Type matériel roulant</span>
                                            </a>
                                        </li>
                                        <li class="" role="none">
                                            <a class="p-ripple {{ current_route starts with 'vehicule' ? 'router-link-active router-link-exact-active' : '' }}" aria-label="véhicule" data-turbo-frame="my-content" role="menuitem" href="{{ path('vehicule.index') }}">
                                                <img src="{{ asset('img/icons/voitures.svg') }}" alt="home" style="width: 1.2em;">
                                                <span>Véhicules</span><span class="p-ink"></span>
                                            </a>
                                        </li>

{#                                        <li class="" role="none">#}
{#                                            <a class="p-ripple p-ripple {{ current_route == 'vehicules.disponibles' ? 'router-link-active router-link-exact-active' : '' }}" aria-label="véhicule disponibles" role="menuitem" href="{{ path('vehicules.disponibles') }}">#}
{#                                                <img src="{{ asset('img/icons/auto.svg') }}" alt="home" style="width: 1.2em;">#}
{#                                                <span>Véhicules disponibles</span><span class="p-ink"></span>#}
{#                                            </a>#}
{#                                        </li>#}

                                        <li class="" role="none">
                                            <a class="p-ripple {{ current_route starts with 'assurance' ? 'router-link-active router-link-exact-active' : '' }}" aria-label="assurance" role="menuitem" href="{{ path('assurance.index') }}">
                                                <img src="{{ asset('img/icons/document-de-conformite.svg') }}" alt="home" style="width: 1.2em;">
                                                <span>Assurance</span><span class="p-ink"></span>
                                            </a>
                                        </li>
                                        <li class="" role="none">
                                            <a class="p-ripple {{ current_route starts with 'visite' ? 'router-link-active router-link-exact-active' : '' }}"aria-label="visite" role="menuitem" href="{{ path('visite.index') }}">
                                                <img src="{{ asset('img/icons/mecanicien-automobile.svg') }}" alt="home" style="width: 1.2em;">
                                                <span>Visite technique</span><span class="p-ink"></span>
                                            </a>
                                        </li>
                                        <li class="" role="none">
                                            <a class="p-ripple {{ current_route starts with 'vidange' ? 'router-link-active router-link-exact-active' : '' }}" aria-label="vidange" role="menuitem" href="{{ path('vidange.index') }}">
                                                <img src="{{ asset('img/icons/burette-de-graissage.svg') }}" alt="home" style="width: 1.2em;">
                                                <span>Vidange</span><span class="p-ink"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="layout-menuitem-category" role="none">
                                    <div class="layout-menuitem-root-text" aria-label="Gestion des Cva">Gestion des Cva</div>
                                    <ul role="menu">
                                        <li class="" role="none">
                                            <a class="p-ripple {{ current_route starts with 'chauffeur' ? 'router-link-active router-link-exact-active' : '' }}" aria-label="Cva" role="menuitem" href="{{ path('chauffeur.index') }}">
                                                <img src="{{ asset('img/icons/homme-chauffeur.svg') }}" alt="cva" style="width: 1.2em;">
                                                <span>Cva</span>
                                                <span class="p-ink"></span>
                                            </a>
                                        </li>

                                    </ul>
                                </li>


                                <li class="layout-menuitem-category" role="none">
                                    <div class="layout-menuitem-root-text" aria-label="Gestion des Cva">Gestion du parc</div>
                                    <ul role="menu">
                                        <li class="" role="none">
                                            <a class="p-ripple" aria-label="Cva" role="menuitem" href="{{ path('parc.index') }}">
                                                <img src="{{ asset('img/icons/garage-voiture.svg') }}" alt="home" style="width: 1.2em;">
                                                <span>Parc</span>
                                                <span class="p-ink"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}


             
                                <li class="layout-menuitem-category" role="none">
                                    <div class="layout-menuitem-root-text" aria-label="Gestion des missions">Gestion des missions</div>
                                    <ul role="menu">
                                        <li class="" role="none">
                                            <a class="p-ripple {{ current_route starts with 'demande' ? 'router-link-active router-link-exact-active' : '' }}" aria-label="Demande de véhicule" role="menuitem" href="{{ path('demande.index') }}">

                                                {% if is_granted('ROLE_POINT_FOCAL') and not is_granted('ROLE_ADMIN') %}
                                                    <img src="{{ asset('img/icons/question-de-dossier.svg') }}" alt="cva" style="width: 1.2em;"> <span>Demander véhicules</span>
                                                {% endif %}
                                                {% if (is_granted('ROLE_RESPONSABLE_STRUCTURE') and not is_granted('ROLE_VALIDATEUR')) and not is_granted('ROLE_ADMIN')  %}
                                                    <img src="{{ asset('img/icons/question-de-dossier.svg') }}" alt="cva" style="width: 1.2em;"> <span>Traiter demandes</span>
                                                {% endif %}
                                                <span class="p-ink"></span>
                                            </a>
                                        </li>


                                            <li class="" role="none">
                                                <a class="p-ripple" aria-label="Demandes approuvées" role="menuitem" href="{{ path('demande.approuvees') }}">

                                                    {% if (is_granted('ROLE_VALIDATEUR') and not is_granted('ROLE_RESPONSABLE_STRUCTURE')) and not is_granted('ROLE_ADMIN')  %}
                                                        <i class="fa fa-check-circle"></i>
                                                        <span>Traiter demandes</span>
                                                    {% else %}
                                                        <img src="{{ asset('img/icons/verification-de-lhexagone.svg') }}" alt="home" style="width: 1.2em;">
                                                        <span>Demandes approuvées</span>
                                                    {% endif %}
                                                    <span class="p-ink"></span>
                                                </a>
                                            </li>

                                            {% if (is_granted('ROLE_VALIDATEUR') and not is_granted('ROLE_RESPONSABLE_STRUCTURE')) and not is_granted('ROLE_ADMIN')  %}
                                                <li class="" role="none">
                                                    <a class="p-ripple" aria-label="Finaliser demandes" role="menuitem" href="{{ path('demandes.expirees') }}">
                                                        <i class="fa fa-tasks"></i>
                                                        <span>Valider retour mission</span>
                                                        <span class="p-ink"></span>
                                                    </a>
                                                </li>
                                            {% endif %}
                                        <li class="" role="none">
                                            <a class="p-ripple" aria-label="Demandes rejetées" role="menuitem" href="{{ path('demande.rejetees') }}">
                                                <img src="{{ asset('img/icons/supprimer-le-document.svg') }}" alt="home" style="width: 1.2em;">
                                                <span>Demandes rejetées</span>
                                                <span class="p-ink"></span>
                                            </a>
                                        </li>

                                        <li class="" role="none">
                                            <a class="p-ripple" aria-label="Demandes validées" role="menuitem" href="{{ path('demande.validees') }}">
                                                <img src="{{ asset('img/icons/document-accepte.svg') }}" alt="home" style="width: 1.2em;">
                                                <span>Demandes validées</span>
                                                <span class="p-ink"></span>
                                            </a>
                                        </li>

                                        <li class="" role="none">
                                            <a class="p-ripple" aria-label="Retour de mission validés" role="menuitem" href="{{ path('demande.finalisees') }}">
                                                <img src="{{ asset('img/icons/document-de-conformite.svg') }}" alt="home" style="width: 1.2em;">
                                                <span>Retour de mission validés</span>
                                                <span class="p-ink"></span>
                                            </a>
                                        </li>
                                    </ul>


                                </li>

                            {% if is_granted('ROLE_ADMIN') %}

                            <li class="layout-menuitem-category" role="none">
                                <div class="layout-menuitem-root-text" aria-label=" Autres paramètres"> Géohihérarchie </div>
                                <ul role="menu">
                                    <li class="" role="none">
                                        <a class="p-ripple" aria-label="Département" role="menuitem" href="{{ path('departement.index') }}">
                                            <img src="{{ asset('img/icons/structure-du-departement.svg') }}" alt="home" style="width: 1.2em;">
                                            <span>Département</span>
                                            <span class="p-ink"></span>
                                        </a>
                                    </li>
                                    <li class="" role="none">
                                        <a class="p-ripple" aria-label="Commune" role="menuitem" href="{{ path('commune.index') }}">
                                            <img src="{{ asset('img/icons/banc-arbre.svg') }}" alt="home" style="width: 1.2em;">
                                            <span>Commune</span>
                                            <span class="p-ink"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                                    
                                    
                                <li class="layout-menuitem-category" role="none">
                                    <div class="layout-menuitem-root-text" aria-label=" Autres paramètres"> Autres paramètres</div>
                                    <ul role="menu">
                                        <li class="" role="none">
                                            <a class="p-ripple" aria-label="Institution" role="menuitem" href="{{ path('institution.index') }}">
                                                <img src="{{ asset('img/icons/banque.svg') }}" alt="home" style="width: 1.2em;">
                                                <span>Institution</span>
                                                <span class="p-ink"></span>
                                            </a>
                                        </li>
                                        <li class="" role="none">
                                            <a class="p-ripple" aria-label="Niveau" role="menuitem" href="{{ path('niveau.index') }}">
                                                <img src="{{ asset('img/icons/niveau-inferieur-alt.svg') }}" alt="home" style="width: 1.2em;">
                                                <span>Niveau</span>
                                                <span class="p-ink"></span>
                                            </a>
                                        </li>
                                        <li class="" role="none">
                                            <a class="p-ripple" aria-label="TypeStructure" role="menuitem" href="{{ path('TypeStructure.index') }}">
                                                <img src="{{ asset('img/icons/mallette.svg') }}" alt="home" style="width: 1em;">
                                                <span>Type Structure</span>
                                            </a>
                                        </li>
                                        <li class="" role="none">
                                            <a class="p-ripple" aria-label="Structure" role="menuitem" href="{{ path('structure.index') }}">
                                                <img src="{{ asset('img/icons/batiment.svg') }}" alt="home" style="width: 1em;">
                                                <span>Structures</span>
                                                <span class="p-ink"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="layout-menuitem-category" role="none">
                                    <div class="layout-menuitem-root-text" aria-label="Administration">Administration</div>
                                    <ul role="menu">
                                        <li class="" role="none">
                                            <a class="p-ripple" aria-label="Utilisateur" role="menuitem" href="{{ path('user.index') }}">
                                                <img src="{{ asset('img/icons/utilisateurs-alt.svg') }}" alt="home" style="width: 1em;">
                                                <span>Utilisateurs</span>
                                                <span class="p-ink"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        {% endif %}
                        </div>
                    </div>


                    <div class="layout-main-container">
                <div class="layout-main" >

                        {% block mycontent %}
                        <div class="row">
                            <div class="card" style="background: #0a3764">
                                <div class="card-body" >
                                    <h4 class="col-lg-10 pl-0 text-white fw-bold">Bienvenue sur la plateforme de gestion de parc automobile du Ministère de la santé</h4>
                                    <a href="#" class="p-compoent p-button p-button-secondary fw-bold mt-2">Télécharger le didactiel</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {# Affichage des demandes de toutes sortes #}
                            {% if not is_granted('ROLE_ADMIN') %}
                            <div class="card w-100">
                                <table class="table">
                                    <thead >
                                    <tr style="background: #DAEBFB">
                                        <th colspan="4"> <img src="{{ asset('img/icons/question-de-dossier.svg') }}" alt="home" style="width: 1.2em;">Demandes</th>
                                    </tr>
                                    <tr>
                                        <th scope="col">Libellé</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if is_granted('ROLE_POINT_FOCAL') and not is_granted('ROLE_ADMIN') %}
                                    <tr>
                                        <td class="text-uppercase">Nombre de demandes initiées</td>
                                        <td class="text-uppercase">{{nombreDemandesInitieeByPointFocal()}}</td>
                                        <td class="text-uppercase"> <a href="{{ path('demande.index') }}"><span class="badge badge-light">Voir détails</span></a> </td>
                                    </tr>
                                        <tr>
                                            <td class="text-uppercase">Nombre de demandes approuvées</td>
                                            <td class="text-uppercase">{{ nombreDemandesForPointFocalApprouvees() }}</td>
                                            <td class="text-uppercase"> <a href="{{ path('demande.approuvees') }}"><span class="badge badge-light">Voir détails</span></a> </td>
                                        </tr>
                                        <tr>
                                            <td class="text-uppercase">Nombre de demandes rejetées</td>
                                            <td class="text-uppercase">{{ nombreDemandesRejetees() }}</td>
                                            <td class="text-uppercase"> <a href="{{ path('demande.rejetees') }}"><span class="badge badge-light">Voir détails</span></a> </td>
                                        </tr>
                                    {% elseif is_granted('ROLE_RESPONSABLE_STRUCTURE') and not is_granted('ROLE_ADMIN') %}
                                        <tr>
                                            <td class="text-uppercase">Nombre de demandes à traiter</td>
                                            <td class="text-uppercase">{{ nombreDemandesEnAttente() }}</td>
                                            <td class="text-uppercase"> <a href="{{ path('demande.index') }}"><span class="badge badge-light">Voir détails</span></a> </td>
                                        </tr>
                                        <tr>
                                            <td class="text-uppercase">Nombre de demandes approuvées</td>
                                            <td class="text-uppercase">{{ nombreDemandesApprouveesByResponsableStructure()}}</td>
                                            <td class="text-uppercase"> <a href="{{ path('demande.approuvees') }}"><span class="badge badge-light">Voir détails</span></a> </td>
                                        </tr>
                                        <tr>
                                            <td class="text-uppercase">Nombre de demandes rejetées</td>
                                            <td class="text-uppercase">{{ nombreDemandesRejetees() }}</td>
                                            <td class="text-uppercase"> <a href="{{ path('demande.rejetees') }}"><span class="badge badge-light">Voir détails</span></a> </td>
                                        </tr>

                                        {% elseif (is_granted('ROLE_VALIDATEUR') and not is_granted("ROLE_ADMIN")) %}
                                            <tr>
                                                <td class="text-uppercase">Nombre de demandes à traiter</td>
                                                <td class="text-uppercase">{{ nombreDemandesEnAttente() }}</td>
                                                <td class="text-uppercase"> <a href="{{ path('demande.index') }}"><span class="badge badge-light">Voir détails</span></a> </td>
                                            </tr>
                                            <tr>
                                                <td class="text-uppercase">Nombre de demandes traitées</td>
                                                <td class="text-uppercase">{{ nombreDemandesTraiteesByValidateur() }}</td>
                                                <td class="text-uppercase"> <a href="{{ path('demande.validees') }}"><span class="badge badge-light">Voir détails</span></a> </td>
                                            </tr>
                                            <td class="text-uppercase">Nombre de demandes rejetées</td>
                                            <td class="text-uppercase">{{ nombreDemandesRejetees() }}</td>
                                            <td class="text-uppercase"> <a href="{{ path('demande.rejetees') }}"><span class="badge badge-light">Voir détails</span></a> </td>

                                    {% else %}
                                    <tr>
                                        <td colspan="4">Aucune valeur à afficher</td>
                                    </tr>
                                    {% endif %}


                                    </tbody>
                                </table>
                            </div>
                            {% endif %}


                            {% if is_granted('ROLE_VALIDATEUR') or is_granted('ROLE_ADMIN') or is_granted('ROLE_CABINET') %}
                                {# Affichage véhicules #}
                            <div class="card w-100">
                                <table class="table">
                                    <thead >
                                    <tr style="background: #DAEBFB">
                                        <th colspan="4"><img src="{{ asset('img/icons/voitures.svg') }}" alt="home" style="width: 1.2em; "> Véhicules</th>
                                    </tr>
                                    <tr>
                                        <th scope="col">Libellé</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr>
                                        <td class="text-uppercase">Nombre total de véhicules</td>
                                        <td class="text-uppercase">{{ nombreVehiculesTotal() }}</td>
                                        <td class="text-uppercase"> <a href="{{ path('vehicule.index') }}"><span class="badge badge-light">Voir détails</span></a> </td>
                                    </tr>
                                    <tr>
                                        <td class="text-uppercase">Nombre de Véhicules disponibles</td>
                                        <td class="text-uppercase">{{ nombreVehiculesDisponibles() }}</td>
                                        <td class="text-uppercase"> <a href="{{ path('vehicules.disponibles') }}"><span class="badge badge-light">Voir détails</span></a> </td>
                                    </tr>
                                    <tr>
                                        <td class="text-uppercase">Nombre de Véhicules en Mission</td>
                                        <td class="text-uppercase">{{ nombreVehiclesInMission() }}</td>
                                        <td class="text-uppercase"> <a href="{{ path('vehicule.mission') }}"><span class="badge badge-light">Voir détails</span></a> </td>
                                    </tr>
                                    <tr>
                                        <td class="text-uppercase">Assurances expirées</td>
                                        <td class="text-uppercase">{{ nombreAssurancesNonvalides()}}</td>
                                        <td class="text-uppercase"> <a href="{{ path('assurance.nonvalides') }}"><span class="badge badge-light">Voir détails</span></a> </td>
                                    </tr>
                                    <tr>
                                        <td class="text-uppercase">Jamais assuré</td>
                                        <td class="text-uppercase">{{ nombreVehiclesJamaisAssure()}}</td>
                                        <td class="text-uppercase"> <a href="{{ path('vehicule.nonassurres') }}"><span class="badge badge-light">Voir détails</span></a> </td>
                                    </tr>

                                    <tr>
                                        <td class="text-uppercase">Visites techniques expirées</td>
                                        <td class="text-uppercase">{{ nombreVisitesNonvalides()}}</td>
                                        <td class="text-uppercase"> <a href="{{ path('visite.nonvalides') }}"><span class="badge badge-light">Voir détails</span></a> </td>
                                    </tr>
                                    <tr>
                                        <td class="text-uppercase">Visites jamais effectué</td>
                                        <td class="text-uppercase">{{ nombreVehiclesJamaisVisite()}}</td>
                                        <td class="text-uppercase"> <a href="{{ path('vehicule.nonvisites') }}"><span class="badge badge-light">Voir détails</span></a> </td>
                                    </tr>
                                    <tr>
                                        <td class="text-uppercase">Vidange à renouveler</td>
                                        <td class="text-uppercase">{{ nombreVidangesNonvalides() }}</td>
                                        <td class="text-uppercase"> <a href="{{ path('vehicule.vidangenonvalides') }}"><span class="badge badge-light">Voir détails</span></a> </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                                {# Affichage chauffeur #}
                                <div class="card w-100">
                                    <table class="table">
                                        <thead>
                                        <tr style="background: #DAEBFB">
                                            <th colspan="4"><img src="{{ asset('img/icons/homme-chauffeur.svg') }}" alt="cva" style="width: 1.2em;"> Chauffeurs</th>
                                        </tr>
                                        <tr>
                                            <th scope="col">Libellé</th>
                                            <th scope="col">Total</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr>
                                            <td class="text-uppercase">Nombre de chauffeurs total</td>
                                            <td class="text-uppercase">{{ nombreChauffeursTotal() }}</td>
                                            <td class="text-uppercase"> <a href="{{ path('chauffeur.index') }}"><span class="badge badge-light">Voir détails</span></a> </td>
                                        </tr>
                                        <tr>
                                            <td class="text-uppercase">Nombre de Chauffeurs disponibles</td>
                                            <td class="text-uppercase">{{ nombreVehiculesDisponibles() }}</td>
                                            <td class="text-uppercase"> <a href="{{ path('chauffeurs.disponibles') }}"><span class="badge badge-light">Voir détails</span></a> </td>
                                        </tr>
                                        <tr>
                                            <td class="text-uppercase">Nombre de chauffeurs en Mission</td>
                                            <td class="text-uppercase">{{ nombreChauffeursInMission() }}</td>
                                            <td class="text-uppercase"> <a href="{{ path('chauffeurs.mission') }}"><span class="badge badge-light">Voir détails</span></a> </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                {# Affichage missions #}
                                <div class="card w-100">
                                    <table class="table">
                                        <thead>
                                        <tr style="background: #DAEBFB">
                                            <th colspan="4"><img src="{{ asset('img/icons/retour-mission.svg') }}" alt="retour mission" style="width: 1.2em;"> Missions</th>
                                        </tr>
                                        <tr>
                                            <th scope="col">Libellé</th>
                                            <th scope="col">Total</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr>
                                            <td class="text-uppercase">Retour de mission</td>
                                            <td class="text-uppercase">{{ nombreMissionsAFinaliser() }}</td>
                                            {#<td class="text-uppercase"> <a href="{{ path('chauffeurs.index') }}"><span class="badge badge-light">Voir détails</span></a> </td>#}
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            {% endif %}


                        </div>

                </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelectorAll('.flash-close').forEach(button => {
                button.addEventListener('click', () => {
                    button.parentElement.style.display = 'none';
                });
            });
        });
    </script> 



    <script>
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
        </script>

    <script>
        function openImageModal(imageUrl) {
            const width = 800; // Largeur de la fenêtre modale
            const height = 600; // Hauteur de la fenêtre modale
            const left = (window.screen.width - width) / 2;
            const top = (window.screen.height - height) / 2;
    
            const modalWindow = window.open(imageUrl, '_blank', `width=${width},height=${height},left=${left},top=${top}`);
            modalWindow.document.write(`
                <html>
                <head>
                    <title>Image</title>
                </head>
                <body>
                    <img src="${imageUrl}" alt="Image">
                    {# <button onclick="window.close()">Fermer</button> #}
                </body>
                </html>
            `);
        }
    </script>
            <script>
                function toggleResponsiveSidebar() {
                    const sidebar = document.querySelector('.layout-sidebar');

                    // Ajoute ou supprime la classe 'sidebar-visible' pour afficher/masquer la sidebar
                    if (window.innerWidth <= 991) {
                        sidebar.classList.toggle('sidebar-visible');
                    }
                }

                // Fermer la barre latérale en cliquant à l'extérieur
                document.addEventListener('click', (event) => {
                    const sidebar = document.querySelector('.layout-sidebar');
                    const toggleButton = document.querySelector('#toggleSidebar');

                    // Si on clique en dehors de la sidebar et du bouton
                    if (!sidebar.contains(event.target) && !toggleButton.contains(event.target)) {
                        sidebar.classList.remove('sidebar-visible');
                    }
                });
            </script>



            <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script charset="utf-8" src="{{ asset('js/3.d3d46a21.chunk.js') }}"></script> 
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="{{ asset('js/chart-area-demo.js') }}"></script>

    <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ asset('vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('js/sb-admin-2.min.js') }}"></script>
    <script src="{{ asset('vendor/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('js/demo/datatables-demo.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Page level plugins -->
<script src="{{ asset('vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    {% endblock %}
    </body>
</html>